/.gitignore~
/chibi-scheme-0.1
/clang-2.9
/git-1.7.0.3
/git-1.7.0.4
/git-1.7.1
/git-1.7.2.1
/kyotocabinet-0.9.17
/kyotocabinet-1.0.4
/kyotocabinet-1.1.0
/kyotocabinet-1.2.1
/kyotocabinet-1.2.3
/kyotocabinet-1.2.7
/kyotocabinet-1.2.9
/kyotocabinet-ruby-1.15
/lookup-1.99.95
/ruby-1.9.3.0930
/ruby-1.9.3.1015
/ruby-1.9.3.1029
/ruby-1.9.3.1203
/ruby-refm-1.9.1-dynamic-20100629
/specfile
/sqlite-autoconf-3070701
/sumibi-0.7.4
/tinyscheme-1.39
